
.block-form{
	background: #eff3f7;
	text-align: center;
	padding: 0 0 50px 0;
	border-radius: 5px;
	margin-bottom: 40px;
}

h2{
	margin-top: 0px;

}

.block-form-header{
	color: #fff;
	font-weight: normal;
	font-size: 25px;
	background: #48cbe8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 15px solid #67dffa;
	padding: 40px; 0;
}

.body-form{
	width: 80%;
	margin: 45px auto 0 auto;
}

label{
	display: block; 
	color: #959aa8; 
	font-size: 18px;
}



.area-input{
	text-align: left;
	width: 100%;
	margin-bottom: 15px;
}
.area-input.inline{
	display: inline-block;
	width: 48%;
}

.inline.left-col{
	margin-right: 3%;
}

input, textarea{
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #67dffa;
	padding: 10px;
	box-sizing: border-box;
	color: #67dffa;
}

.validation-block{
	text-align: left;
}

.captcha{
	background: url("../images/captcha.png");
	display: inline-block;
	width: 40%;
	margin-right: 20px;
	border: 1px solid #67dffa;
	border-radius: 5px;
	height: 80px;
}


.input-code{
	display: inline-block;
	width: 54%;
	margin-left: 0px;
	padding-top: 20px;
}

textarea,input::-webkit-input-placeholder { 
	color: #67dffa;
	font-size: 13px;
}

textarea::-webkit-input-placeholder { 
	color: #67dffa;
	font-size: 13px;
}

.buttons{
	width: 125px;
	border-radius: 5px;
}
.send{
	margin-right: 265px;
	background: #48cbe8;
	border: 1px solid #48cbe8;
	border-bottom: 3px solid #3ba8c0;
	color: white;
}

.clear{
	background: #849db5;
	border: 1px solid #849db5;
	border-bottom: 3px solid #687b8f;
	color: white;
}



